/.gradle
/.idea
/out
/build
*.iml
*.ipr
*.iws
/domain/build/
/data/build/
/controller/build/
/infrastructure/build/
/shared/shared-jackson/build/
/shared/shared-async-extension/build/
/services/service-province/build/
